/* Versão para as demais telas */

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to bottom,#7209b7, #f72585);
    } 

    #login {
        width: 80vw;
        height: 400px;
    }

    #login > #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    #login > #formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to bottom,#7209b7, #f72585);
    } 

    #login {
        width: 100%; /* Alterado para ocupar toda a largura disponível */
        max-width: 950px; /* Define uma largura máxima para evitar que o conteúdo se espalhe demais */
        margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
        overflow: hidden; /* Garante que o conteúdo não ultrapasse a largura de #login */
    }

    #login > #imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    #login > #formulario {
        float: right; /* Alterado para float: right */
        width: 50%;
    }

    #formulario > h1 {
        text-align: center;
        margin-bottom: 10px;
        font-size: 1.2em; /* Consolidado os estilos em um único bloco */
    }
}